header{text-align: center; padding: 20px; width: 100%; max-width: 1050px; margin: 0 auto;}
header h1{
    color: #000
    /* background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear; */
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
@keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
body{
    margin: 0;
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
    /* font-family: 'NeoDunggeunmo'; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625;
    color: #555759;
    text-align: left;
    background-color: rgb(232 232 232);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    /* max-width: 1050px; */
    margin: 0 auto;
}
main{max-width: 1050px; width: 100%; margin: 0 auto;}
article{background-color: #e8e8e8; padding-bottom: 40px;}
article img{width: 100%; max-width: 600px;}
section{padding: 10px;}
footer{position:fixed; bottom: 0; width: 100%; max-width: 600px;}

/*test*/
.question button{padding: 2px 0;}
.test-body{background: #7f4c2f;}
footer .copyright{width:100%; max-width: 600px; text-align: center; color: #fff; background-color: #555759;}

/*result*/
.result-main{background: #fff;}
.result-main article{background: #fff;}
.result-main section{background: #0d2f69;}
.result-msg {background-color:#051b3e; padding: 20px; border-radius: 5px;}

/*liveRE*/
section.livere-section{background: #fff}

section.game-area{color: #fff; padding: 0;}
.game-wrap{width: 1050px; height: 500px; text-align: center; display: table-cell; vertical-align: middle; font-weight: 600; /*text-shadow: 1.5px 1.5px #101010;*/}
.game-wrap.inactive{display: none;}
.game-wrap.game-start{background-color:#2b87d1;}
.game-wrap.game-ready{background-color:#ce2636;}
.game-wrap.game-click{background-color:#4bdb6a;}
.game-wrap.game-result{background-color:#2b87d1;}
.game-wrap.game-caution{background-color:#e29e1f;}