<!doctype html>
<html lang="ko">
<head>
  <title>나의 플래시 반응속도 테스트</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="나의 플래시 반응속도 테스트, 나의 게임 속 캐릭터 찾기, 모바일 엔터테인먼트 미디어. 심리테스트, 콘텐츠 소개, 공유 제공.">
  <!--라이브리 프로퍼티 설정-->
  <meta property="og:description" content="나의 플래시 반응속도 테스트" />
  <meta property="og:site" content="http://watu.me" />
  <meta property="og:image" content="http://watu.me/img/bg/bg01.jpg" />
  <meta property="og:title" content="나의 캐릭터 찾기" />
  <!--라이브리 설정 끝-->
  <meta name="naver-site-verification" content="1826f3f532b58d6c6d780a0afa0d6eb07ebc9f69" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="/css/main.css?v=1.0.0" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/neodgm/neodgm.css">
  <link rel="canonical" href="http://watu.me">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://getbootstrap.com/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-602f57604539048e"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3499947765418335" crossorigin="anonymous"></script>
  <%- include('../public/inc/inc_gascript') %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0 10px;">
    <a class="navbar-brand" href="/">watu.me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">플래시 반응 테스트</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="www.watu.me">나의 캐릭터 찾기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/about/">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <header>
    <!--adfit-->
    <ins class="kakao_ad_area" style="display:none;" 
                    data-ad-unit    = "DAN-EJOiVszlpM0dTiAR" 
                    data-ad-width   = "320" 
                    data-ad-height  = "100"></ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
    <h1>나의 플래시 반응속도 테스트</h1>
  </header>
  <main>
    <article class="text-white">
      <img src="/img/bg/bg00.jpg" style="width: 100%; margin-top: -2px;">
      <section class="col-12 text-center">
        <span class="fs-4">총 플레이 인원 수</span><br>
        <span class="fs-1"><cnt id="players"></cnt> 명</span>
      </section>
      <section class="col-12 text-center" style="background: #2b2b2b;">
        <span class="fs-4">다른 파티원에게 공유하기</span>
        <div class="addthis_inline_share_toolbox"></div>
      </section>
      <section class="col-12 text-center" style="background-color: #040f21;">
        <span class="fs-4">현재 가장 많은 유형 : </span>
        <span class="fs-4"></span><br>
        <img src="/img/" style="width: 70%; border-radius: 100%; margin: 15px;">
      </section>
      <section class="livere-section">
      <!-- 라이브리 시티 설치 코드 -->
      <div id="lv-container" data-id="city" data-uid="MTAyMC81NDI5NS8zMDc2Ng==">
        <script type="text/javascript">
        window.livereOptions = {
          refer: 'flash.watu.com'
        };
        (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') { return; }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
        })(document, 'script');
        </script>
      </div>
      <!-- 시티 설치 코드 끝 -->
      </section>
    </article>
  </main>
  <footer>
  </footer>
  <script>
      
  </script>
</body>
</html>